@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Mulish:wght@300;500;700&display=swap");

// Default colors
$color-background-light: hsl(0, 0, 96%);
$color-background-white: hsl(0, 0, 100%);
$color-font-large-black: hsl(228, 5%, 19%);
$color-font-small-light: hsl(0, 0%, 46%);
$color-font-head-blue: hsl(212, 97%, 53%);
$color-background-shadow: rgba(0, 0, 0, 0.1);

* {
  font-family: "Mulish", sans-serif;
  font-size: 10px;
  margin: 0;
}

h1 {
  font-size: 5.5rem;
  color: $color-font-large-black;
  font-weight: 700;
  padding-bottom: 2rem;
  font-family: "Mulish", sans-serif;
}

h1 svg {
  width: 3.2rem;
  margin-left: 1rem;
  height: 3.2rem;
}

h2 {
  font-size: 2.5rem;
  color: $color-font-large-black;
  font-weight: 700;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.7rem;
  color: $color-font-head-blue;
  font-weight: 700;
}

.black {
  font-size: 1.7rem;
  color: $color-font-large-black;
  font-weight: 700;
}

.date {
  font-size: 1.5rem;
  color: $color-font-large-black;
  font-weight: 500;
}

.light {
  font-size: 1.7rem;
  color: $color-font-small-light;
  font-weight: 300;
}

.link {
  font-size: 2.4rem;
  color: $color-font-large-black;
  font-weight: 500;
  text-decoration: none;
  margin-left: 1rem;
}

.link:hover {
  color: $color-font-head-blue;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

// Main

.haaga {
  align-self: center;
}

section {
  padding: 10rem;
}

.home {
  display: flex;
  justify-content: center;
  height: 72rem;
  background-color: $color-background-light;
}

.home-container {
  position: relative;
  max-width: 100rem;
  display: flex;
}

.user-skills {
  display: flex;
  position: absolute;
  bottom: 20rem;
  align-self: flex-start;
}

.user-text {
  margin-right: 10rem;
}

.user-skills h3 {
  margin-bottom: 0.3rem;
}

.home-text {
  width: 72rem;
  padding-right: 6rem;
}

.about {
  display: flex;
  justify-content: center;
  height: 40rem;
  align-items: center;
  background-color: $color-background-white;
}

.about-container {
  align-items: center;
  display: flex;
  width: 100rem;
}

#techId {
  cursor: pointer;
}

#techId:hover {
  color: $color-font-head-blue;
}

.projects {
  height: 150rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background-light;
}

.projects-container {
  width: 100rem;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background-white;
  height: 25rem;
}

.contact-container {
  width: 100rem;
}

.nav {
  z-index: 3;
  position: sticky;
  top: 0;
  height: 3.5rem;
  background-color: $color-background-white;
  box-shadow: 0 1px 1px $color-background-shadow;
  margin-bottom: 0;
  padding: 2.2rem 6rem;
  display: flex;
  justify-content: space-between;
}

.mobile-nav {
  display: none;
}

.mobile-nav a:hover {
  color: $color-font-head-blue;
}

.nav-mobile-icon {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  right: 6rem;
  display: none;
}

.nav-mobile-icon:hover {
  fill: $color-font-head-blue;
}

.nav-container {
  display: flex;
}

.img-size {
  margin-right: 5rem;
}

.img-size img {
  border-radius: 2rem;
}

.flags img {
  width: 3.2rem;
  border: solid black 1px;
  cursor: pointer;
  margin-right: 1rem;
  height: 3.2rem;
  border-radius: 10rem;
}

.selfie {
  height: 35rem;
  width: 35rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px 1px $color-background-shadow;
}

.user-links svg {
  cursor: pointer;
  margin-right: 2rem;
  margin-top: 2rem;
  width: 3.2rem;
  height: 3.2rem;
}

.linked {
  fill: #0077b5;
}

.skill-icons {
  display: flex;
}

.hidden {
  display: none;
}

.basic-skills {
  position: absolute;
  bottom: -7rem;
  left: 0;
}
.basic-skills h3 {
  margin-right: 18rem;
}

.skill-icons img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  margin-right: 2rem;
}

.skill .user-links svg:hover {
  fill: $color-font-head-blue;
}

.site-preview {
  border-radius: 2rem;
  display: flex;
  min-height: 40rem;
  height: auto;
  width: 99rem;
  margin-bottom: 8rem;
  background-color: $color-background-white;
  box-shadow: 0 0 10px 1px $color-background-shadow;
  align-content: center;
  justify-content: space-between;
  position: relative;
}

.text-preview {
  margin-top: 2.5rem;
  width: 36rem;

  align-items: center;
}

.text-preview p {
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.text-preview h3 {
  margin-top: 2rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.used-code {
  display: flex;
  position: absolute;
  bottom: 7rem;
}

.code-links {
  position: absolute;
  display: flex;
  bottom: 4rem;
  padding-right: 6rem;
}

.code-links a {
  padding-left: 2rem;
}

.used-code p {
  box-shadow: 0 0 10px 1px $color-background-shadow;
  padding: 1rem;
  margin: 1rem;
}

.image-preview img {
  width: 54rem;
  border-radius: 2rem;
  padding: 0;
  margin: 0;
}
.image-preview {
  display: flex;
  box-shadow: 0 0 10px 1px $color-background-shadow;
  border-radius: 2rem;
  height: auto;

  align-self: center;
  justify-content: center;
}

.normal {
  margin-left: 2.5rem;
}

.flipped {
  margin-right: 2.5rem;
}

.info {
  display: flex;
}

.info-text {
  margin-left: 1.5rem;
}

.mail,
.phone,
.location {
  margin-top: 7rem;
  margin-right: 5rem;
  display: flex;
}

.location svg:hover {
  fill: $color-font-head-blue;
}

footer {
  position: relative;
  height: 10rem;
  background-color: $color-font-large-black;
}

footer svg {
  position: absolute;
  fill: $color-background-white;
}

.footer-1 {
  right: 23rem;
  top: 3.5rem;
}

.footer-2 {
  right: 30rem;
  top: 3.5rem;
}

// Media

@media only screen and (max-width: 1020px) {
  .img-size {
    margin-right: 0rem;
  }

  .haaga {
    width: 41rem;
  }

  .code-links {
    bottom: 2rem;
  }

  .used-code {
    bottom: 5rem;
  }

  .nav-mobile-icon {
    display: block;
  }

  .text-preview p {
    margin-right: 0.8rem;
  }

  .footer-1 {
    right: 8rem;
    top: 3.5rem;
  }

  .footer-2 {
    right: 15rem;
    top: 3.5rem;
  }

  .mobile-nav {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    height: 90vh;
    z-index: 2;
    background-color: $color-background-light;
  }

  .basic-skills h3 {
    margin-right: 2rem;
  }

  .mobile-nav li {
    padding-bottom: 3rem;
    margin-right: 2rem;
  }

  .nav-container {
    display: none;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100rem;
    background-color: $color-background-light;
  }

  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    height: 70rem;
  }

  .focused-text {
    position: absolute;
    top: 27rem;
  }

  .home-text {
    width: 49rem;
    padding: 0rem;
  }

  .selfie {
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: -10rem;
  }

  .user-skills {
    display: flex;
    flex-direction: column;
    bottom: 0;
  }
  .user-text {
    margin-right: 10rem;
    margin-bottom: 1rem;
  }

  .image-preview img {
    width: 45rem;
  }

  .projects {
    height: 210rem;
    display: flex;
    justify-content: center;
  }

  .projects-container {
    width: 50rem;
  }

  .text-preview {
    width: 46rem;
    margin-top: 0;
    align-self: center;
  }

  .text-side {
    margin-top: 2rem;
  }

  .site-preview {
    flex-direction: column;
    width: 49.9rem;
    height: 58rem;
    justify-content: start;
    align-content: center;
  }

  section {
    padding: 5rem;
  }

  .normal,
  .flipped {
    margin: 0;
    margin-top: 1rem;
  }

  .flip-text .light {
    margin-right: 7rem;
  }

  .about {
    display: flex;
    justify-content: center;
    height: 80rem;
    background-color: $color-background-white;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
  }

  .contact-container {
    width: 50rem;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .contact {
    height: 45rem;
  }

  .nav-container {
    display: none;
  }

  .flip-text .used-code #id1 {
    z-index: 1;
    top: -6rem;
  }

  .flip-text .used-code #id2 {
    z-index: 1;
    top: -6rem;
    left: 8.5rem;
  }

  .flip-text .used-code #id3 {
    z-index: 1;
    top: -6rem;
    left: 16.5rem;
  }

  .flip-text h3 {
    position: absolute;
    top: 28rem;
  }

  .flip-text p {
    position: absolute;
    top: 33rem;
  }

  .flip-image {
    position: absolute;
  }

  @media only screen and (max-width: 518px) {
    .flags img {
      width: 2.5rem;
      height: 2.5rem;
    }

    #fin {
      position: absolute;
      left: 8rem;
    }

    #uk {
      position: absolute;
      left: 4rem;
    }

    .nav-mobile-icon {
      width: 2.8rem;
      height: 2.8rem;
      right: 4rem;
    }

    .nav {
      height: 3rem;
    }

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    .black {
      font-size: 1.5rem;
    }

    .date {
      font-size: 1.3rem;
    }
    .light {
      font-size: 1.5rem;
    }

    .text-preview p {
      font-size: 1.5rem;
    }

    .projects {
      height: 190rem;
    }

    .flip-text .light {
      margin-right: 3rem;
    }

    .user-skills {
      bottom: 3rem;
    }

    .basic-skills {
      bottom: -6rem;
    }

    .flip-text .used-code #id1 {
      z-index: 1;
      top: -6rem;
    }

    .flip-text .used-code #id2 {
      z-index: 1;
      top: -6rem;
      left: 7.5rem;
    }

    .flip-text .used-code #id3 {
      z-index: 1;
      top: -6rem;
      left: 15rem;
    }

    .flip-text h3 {
      position: absolute;
      top: 16rem;
    }

    .flip-text p {
      position: absolute;
      top: 21rem;
    }

    .selfie {
      top: -5rem;
      width: 28rem;
      height: 28rem;
    }

    .skill-icons img {
      width: 3rem;
      height: 3rem;
      border-radius: 1rem;
      margin-right: 1rem;
    }

    .haaga {
      width: 28rem;
    }

    .image-preview img {
      width: 25rem;
    }

    .home {
      height: 80rem;
    }

    .used-code p {
      margin: 1rem 0.5rem;
    }

    .focused-text {
      top: 26rem;
    }

    .home-container {
      width: 30rem;
    }
    .home-text {
      width: 29rem;
    }

    .contact-container {
      width: 30rem;
    }

    .about {
      height: 73rem;
    }

    .about-container {
      width: 30rem;
    }
    .projects-container {
      width: 30rem;
    }

    .site-preview {
      width: 29.9rem;
      height: 50rem;
    }

    .text-preview {
      width: 26rem;
    }
  }
  @media only screen and (max-width: 320px) {
    .nav-mobile-icon {
      width: 2.6rem;
      height: 2.6rem;
      right: 3rem;
    }

    .nav {
      height: 2.8rem;
    }

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 1.9rem;
    }

    h3 {
      font-size: 1.4rem;
    }

    .black {
      font-size: 1.4rem;
    }

    .date {
      font-size: 1.2rem;
    }
    .light {
      font-size: 1.4rem;
    }

    .projects {
      height: 170rem;
    }

    .basic-skills {
      bottom: -6rem;
    }

    .basic-skills h3 {
      margin-right: 0rem;
    }

    .flip-text .used-code #id1 {
      z-index: 1;
      top: -6rem;
    }

    .flip-text .used-code #id2 {
      z-index: 1;
      top: -6rem;
      left: 6.15rem;
    }

    .flip-text .used-code #id3 {
      z-index: 1;
      top: -6rem;
      left: 12rem;
    }

    .flip-text h3 {
      position: absolute;
      top: 13rem;
    }

    .flip-text p {
      position: absolute;
      top: 18rem;
    }

    .selfie {
      top: -2rem;
      width: 23rem;
      height: 23rem;
    }

    .skill-icons img {
      width: 2.5rem;
      height: 2.5rem;
      justify-self: flex-start;
      border-radius: 1rem;
    }

    .haaga {
      width: 23rem;
    }

    .image-preview img {
      width: 20rem;
    }

    .home {
      height: 65rem;
    }

    .used-code p {
      margin: 1rem 0.3rem;
      padding: 0.5rem;
    }

    .focused-text {
      top: 23rem;
    }

    .home-container {
      width: 25rem;
    }
    .home-text {
      width: 24rem;
    }

    .contact-container {
      width: 25rem;
    }

    .contact {
      height: 40rem;
    }

    .about {
      height: 73rem;
    }

    .text-preview p {
      font-size: 1.4rem;
    }

    .about-container {
      width: 25rem;
    }
    .projects-container {
      width: 25rem;
    }

    .site-preview {
      width: 24.9rem;
      height: 46rem;
    }

    .text-preview {
      width: 21rem;
    }

    .mail,
    .phone,
    .location {
      margin-top: 4rem;
      margin-right: 0rem;
      display: flex;
    }
  }

  @media only screen and (max-width: 270px) {
    * {
      font-size: 9px;
    }
  }
  @media only screen and (max-width: 240px) {
    * {
      font-size: 8px;
    }
  }
}
